  <template>
  <div>
    <v-dialog v-model="showDialogBackGround" max-width="370px">
      <v-card>
        <v-card-title class="headline" color="#FF3880">
          Изменение фона страницы
        </v-card-title>
        <v-card-text class="pa-2">
          <v-container fluid grid-list-sm>
            <v-row>
              <v-file-input
                v-model="imgFile"
                label="Выберите файл"
                accept="image/*"
                prepend-icon="mdi-paperclip"
              >
              </v-file-input>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>

          <v-btn color="primary" dark @click="save">
            <!-- color="blue darken-1"
                text -->
            Ок
          </v-btn>
          <v-btn color="primary" dark @click="close"> Отмена </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- </template> -->

    <v-dialog v-model="showStatusMessage" max-width="290px">
      <v-card>
        <v-card-title class="headline" color="#FF3880">
          {{ status.title }}
        </v-card-title>
        <v-card-text>
          {{ status.text }}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" dark @click="showStatusMessage = false">
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
    <script>
import axiosApi from "../../api.js";
export default {
  props: ["showDialogBackGround"],
  data: () => ({
    imgFile: [],
    showStatusMessage: false,
    status: {},
  }),
  watch: {
    showDialogBackGround(val) {
      val || this.close();
    },
  },
  methods: {
    save() {
      let formData = new FormData();
      formData.append("file", this.imgFile, "image");
      axiosApi
        .put("/content/blobs/background", formData, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          if (response.request.status === 200) {
            this.showStatusMessage = true;
            this.status.title = "Выполнено";
            this.status.text = "Фон страницы успешно заменен.";
          } else {
            this.status.title = "Статус:" + response.request.status;
            this.status.text = response.request.statusText;
          }
          this.close();
        })
        .catch((error) => {
          this.showStatusMessage = true;
          this.status.title = "Ошибка";
          this.status.text = error;
        });
    },
    close() {
      this.imgFile = "";
      this.$emit("closeDialogChangeBackGround");
    },
  },
};
</script>