<template>
  <div>
    <v-card>
      <ToolBarAdmin />
      <v-card-title>
        <div>
          <span class="headline">Объявления</span>
        </div>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Поиск"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="listAds"
        sort-by="create_time"
        class="elevation-1"
        :search="search"
      >
        <template v-slot:item.critical="{ item }">
          <v-icon color="primary" v-if="item.critical"> mdi-check</v-icon>
        </template>
        <template v-slot:item.title="{ item }">
          <div v-if="item.img != ''">
            <v-icon color="primary"> mdi-image</v-icon>
          </div>
          <div v-else>
            {{ item.title }}
          </div>
        </template>
        <template v-slot:item.text="{ item }">
          <div v-if="item.img != ''">
            <!-- <v-icon color="primary"> mdi-image</v-icon> -->
            <v-img
              :src="serverAdress + 'content/blobs/' + item.img"
              contain
              height="50px"
              width="50px"
            ></v-img>
          </div>
          <div v-else>
            <!-- {{ item.text }} -->
            <span v-html="item.text"></span>
          </div>
        </template>
        <template v-slot:top>
          <v-toolbar flat>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="600px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Новая запись
                </v-btn>
              </template>
              <v-card flat>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text class="pa-2">
                  <v-container fluid grid-list-sm>
                    <v-row>
                      <v-col cols="6" sm="6" :style="syleCol6">
                        <!-- style="padding: 0px 10px;" -->
                        <v-select
                          v-model="editedItem.publish_group_ids"
                          :items="listGroup"
                          item-text="description"
                          item-value="id"
                          :menu-props="{ maxHeight: '400' }"
                          label="Выберите группу"
                          :rules="[(v) => !!v || 'Пустое поле']"
                          multiple
                          persistent-hint
                        ></v-select>
                      </v-col>
                      <v-col cols="6" sm="6" :style="syleCol6">
                        <v-checkbox
                          v-model="editedItem.critical"
                          hide-details
                          label="Важное сообщение"
                          @click="criticalCheckChange"
                        ></v-checkbox>
                      </v-col>
                    </v-row>
                    <v-row v-if="showSize">
                      <v-col cols="6" sm="6" :style="syleCol6">
                        <v-select
                          v-model="editedItem.size"
                          :items="listSize"
                          :hint="sizeDescription[editedItem.size]"
                          item-text="title"
                          item-value="id"
                          :menu-props="{ maxHeight: '400' }"
                          label="Режим отображения карточки"
                          persistent-hint
                        ></v-select>
                      </v-col>
                      <v-col cols="6" sm="6" :style="syleCol6">
                        <v-checkbox
                          v-model="showImage"
                          hide-details
                          label="Загрузить картинку"
                        ></v-checkbox>
                      </v-col>
                    </v-row>
                    <div v-if="showImage" :style="syleCol6">
                      <v-row>
                        <v-file-input
                          v-model="imgFile"
                          label="Выберите файл"
                          accept="image/*"
                          prepend-icon="mdi-paperclip"
                        >
                        </v-file-input>
                      </v-row>
                    </div>
                    <div v-if="!showImage" :style="syleCol6">
                      <v-row>
                        <v-col cols="12" sm="12">
                          <!-- style="padding: 6px 0px" -->
                          <v-text-field
                            v-model="editedItem.title"
                            label="Заголовок объявления"
                            counter="35"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" sm="12" :style="syleCol6">
                          <!-- <v-textarea
                            label="Текст объявления"
                            :value="editedItem.text"
                            :counter="textSymbolAmount[editedItem.size]"
                            v-model="editedItem.text"
                          ></v-textarea> -->
                          <div>
                            <!-- Use the component in the right place of the template -->
                            <tiptap-vuetify
                              v-model="editedItem.text"
                              :extensions="extensions"
                            />
                          </div>
                        </v-col>
                      </v-row>
                    </div>
                    <v-row>
                      <v-col cols="6" sm="6"
                        ><!--style="padding: 0px 20px;" :style="syleCol6"  md="4"-->
                        <!-- <v-checkbox
                          v-model="showPreview"
                          hide-details
                          label="Предпросмотр сообщения"
                        ></v-checkbox> -->
                        <v-btn @click="showPreviewFunc">
                          <!--color="primary"  color="blue darken-1"
                text -->
                          Предпросмотр
                        </v-btn>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="6" sm="6"
                        ><!--style="padding: 0px 20px;" :style="syleCol6"  md="4"-->
                        <v-checkbox
                          v-model="checkedDate"
                          @click="changeDateEnd"
                          hide-details
                          label="Указать дату деактивации"
                        ></v-checkbox>
                      </v-col>
                      <v-col v-if="checkedDate" cols="6" sm="6">
                        <v-menu
                          v-model="menuEndTime"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          transition="scale-transition"
                          offset-y
                          min-width="290px"
                        >
                          <!--  -->
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="editedItem.end_time"
                              label="Дата деактивации "
                              prepend-icon="mdi-calendar"
                              readonly
                              v-bind="attrs"
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-date-picker
                            v-model="editedItem.end_time"
                            no-title
                            scrollable
                            locale="ru"
                            :first-day-of-week="1"
                            @input="menuEndTime = false"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                    <!-- {{editedItem.size}}
                    {{textSymbolAmount[editedItem.size] }} -->
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>

                  <v-btn color="primary" dark @click="save">
                    <!-- color="blue darken-1"
                text -->
                    Ок
                  </v-btn>
                  <v-btn color="primary" dark @click="close"> Отмена </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog
              v-model="showPreview"
              :width="sizeWindowPreview.width"
              
            >
            <!--  :height="sizeWindowPreview.height" -->
              <div v-if="showSize" center>
                <TemplateAdsCritical
                  center
                  :title="editedItem.title"
                  :text="editedItem.text"
                  :img="editedItem.img"
                  :sizeName="editedItem.size"
                  :createTime="editedItem.create_time"
                />
              </div>
              <div v-else center>
                <TemplateAds
                  center
                  :title="editedItem.title"
                  :text="editedItem.text"
                />
              </div>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="550px">
              <v-card>
                <v-card-title class="headline"
                  >Вы действительно хотите удалить запись?</v-card-title
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" dark @click="deleteItemConfirm"
                    >OK</v-btn
                  >
                  <v-btn color="primary" dark @click="closeDelete"
                    >Отмена</v-btn
                  >

                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.disabled="{ item }">
          <v-simple-checkbox
            :ripple="false"
            @click="changeDisabled(item)"
            v-model="item.disabled"
          ></v-simple-checkbox>

          <!-- -->
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
            small
            class="mr-2"
            color="primary"
            @click="editItemFunc(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon small color="red" @click="deleteItem(item)">
            mdi-delete
          </v-icon>
        </template>
        <template v-slot:no-data>
          <v-alert type="error"> Нет данных для отображения </v-alert>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="showErrorMessage" max-width="290px">
      <v-card>
        <v-card-title class="headline" color="#FF3880">
          Внимание!
        </v-card-title>
        <v-card-text>
          Hеобходимо выбрать группы устройтв для объявления
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" dark @click="showErrorMessage = false">
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axiosApi from "../../api.js";
import ToolBarAdmin from "./ToolBarAdmin.vue";
import TemplateAdsCritical from "../templateAds/templateAdsCritical.vue";
import TemplateAds from "../templateAds/TemplateAds.vue";
import {
  TiptapVuetify,
  Heading,
  Bold,
  Italic,
  // Strike,
  Underline,
  // Code,
  // Paragraph,
  BulletList,
  OrderedList,
  ListItem,
  // Link,
  // Blockquote,
  // HardBreak,
  HorizontalRule,
  History,
} from "tiptap-vuetify";
var _ = require("lodash");
export default {
  components: {
    /*breadCrumbs, */ ToolBarAdmin,
    TemplateAdsCritical,
    TemplateAds,
    TiptapVuetify,
  },
  //
  data: () => ({
    search: "",
    dialog: false,
    dialogDelete: false,
    syleCol6: {
      padding: "0px 10px",
    },
    headers: [
      {
        text: "No",
        value: "numberAd",
        width: "7%",
      },
      {
        text: "Перечень групп",
        value: "devs_group",
        width: "13%",
      },
      {
        text: "Заголовок",
        value: "title",
        width: "12%",
      },
      {
        text: "Содержание",
        value: "text",
        width: "44%",
      },
      {
        text: "Дата окончания",
        value: "end_timeFormat",
        width: "7%",
      },
      {
        text: "Важное",
        value: "critical",
        width: "5%",
      },
      {
        text: "Отключить отображение",
        value: "disabled",
        width: "5%",
      },
      {
        text: "",
        value: "actions",
        sortable: false,
        width: "7%",
      },
    ],
    // rulesText: [
    // (value) => !!value || "Пустое поле",
    //   (value) =>
    //     (value || "").length <= this.textSymbolAmount[this.editedItem.size] || " Рекомендуемая длина "+this.textSymbolAmount[this.editedItem.size] +" символов.",
    // ],
    // rulesTitle: [
    //   // (value) => !!value || "Пустое поле",
    //   (value) =>
    //     (value || "").length <= 45 || "  Рекомендуемая длина 45 символов.",
    // ],
    listAds: [],
    listGroup: [],
    editedIndex: -1,
    editedItem: {
      publish_group_ids: [],
      title: "",
      text: "",
      critical: false,
      img: "",
      text_color: "",
      text_size: 14,
      background_color: "",
      deleted: false,
      disabled: false,
      create_time: new Date(),
      size: "Small",
    },
    sizeDescription: {
      Small: " ширина: 656px, высота: 447px",
      Medium: "ширина: 656px, высота: 910px",
      Large: "ширина: 1342px, высота: 910px",
    },
    imgFile: [],
    defaultItem: {
      id: 0,
      publish_group_ids: [],
      title: "",
      text: "",
      critical: false,
      img: "",
      text_color: "",
      text_size: 14,
      background_color: "",
      disabled: false,
      deleted: false,
      create_time: new Date(),
      size: "Small",
    },
    listSize: [
      { id: "Small", title: "Обычный" },
      { id: "Medium", title: "Половина экрана" },
      { id: "Large", title: "Во весь экран" },
    ],
    textSymbolAmount: {
      Small: 290,
      Medium: 870,
      Large: 2230,
    },
    showImage: false,
    showSize: false,
    menuEndTime: false,
    serverAdress: "",
    showErrorMessage: false,
    checkedDate: false,
    showPreview: false,
    ItemSizeWindowPreview: {
      // NotCritical: { height: "284px", width: "420px" },
      Small: { width: "656px", height: "447px" },
      Medium: { width: "656px", height: "910px" },
      Large: { width: "1342px", height: "910px" },
    },
    extensions: [
      History,
      // Blockquote,
      // Link,
      Underline,
      // Strike,
      Italic,
      Bold,
      ListItem,
      BulletList,
      OrderedList,
      [
        Heading,
        {
          options: {
            levels: [1, 2, 3],
          },
        },
      ],

      // Code,
      HorizontalRule,
      // Paragraph,
      // HardBreak,
    ],
    sizeWindowPreview: "",
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Создание новой записи"
        : "Редактирование записи";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.serverAdress = axiosApi.defaults.baseURL;
      axiosApi
        .get("admin/devs_groups")
        .then((response) => {
          var objectJSON = {};
          objectJSON = JSON.parse(response.request.responseText);
          this.listGroup = objectJSON.data;
          axiosApi
            .get("admin/ads")
            .then((response) => {
              let objectJSON = {};
              objectJSON = JSON.parse(response.request.responseText);
              this.listAds = objectJSON.data.map((item) => {
                if (item.end_time) {
                  let dateEnd = new Date(item.end_time);
                  item.end_timeFormat = dateEnd.toLocaleString().substr(0, 10);
                  item.end_time = dateEnd.toISOString().substr(0, 10);
                }
                var result = item;

                result.devs_group = this.listGroup
                  .filter((group) => {
                    return item.publish_group_ids.includes(group.id);
                  })
                  .map((group) => {
                    return group.description;
                  });
                return result;
              });

              this.createNumberAd();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    criticalCheckChange() {
      this.showSize = this.editedItem.critical;
      if (!this.showSize) {
        this.editedItem.size = "Small";
      }
    },
    createNumberAd() {
      this.listAds = _.sortBy(this.listAds, "create_time");
      this.listAds.forEach(function (item, index) {
        item.numberAd = index + 1;
      });
    },

    editItemFunc(item) {
      // this.editedIndex = this.desserts.indexOf(item)
      // this.editedItem = Object.assign({}, item);
      this.editedIndex = item.id;
      // this.editedItem = item;
      this.editedItem = Object.assign({}, item);
      this.showSize = this.editedItem.critical;
      if (this.editedItem.end_time != null) {
        this.checkedDate = true;
      } else {
        this.checkedDate = false;
      }
      if (this.editedItem.img === "") {
        this.showImage = false;
      } else {
        this.showImage = true;
      }

      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = item.id;
      // this.editedItem = Object.assign({}, item)
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      axiosApi
        .delete("admin/ads/" + this.editedIndex)
        .then((response) => {
          console.log("response  delete= ");
          console.log(response.request.response);
          this.initialize();
        })
        .catch((error) => {
          console.log(error);
        });

      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.showSize = false;
      this.showImage = false;
      this.checkedDate = false;
      this.imgFile = [];
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

showPreviewFunc(){
  this.showPreview = !this.showPreview;
  this.sizeWindowPreview = this.ItemSizeWindowPreview[this.editedItem.size];
},

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    changeDateEnd() {
      if (this.checkedDate) {
        this.editedItem.end_time = new Date().toISOString().substr(0, 10);
      } else {
        delete this.editedItem.end_time;
      }
    },

    changeDisabled(item) {
      this.editedItem = Object.assign({}, item);
      this.editedIndex = item.id;
      this.apiSave();
    },
    save() {
      if (this.editedItem.publish_group_ids.length != 0) {
        if (this.showImage === false) {
          this.editedItem.img = "";
          this.apiSave();
        } else if (this.showImage && this.imgFile.size > 0) {
          let formData = new FormData();
          // formData.append("file", this.imgFile);
          formData.append("file", this.imgFile, "image");
          axiosApi
            .post("/content/blobs", formData, {
              headers: { "Content-Type": "multipart/form-data" },
            })
            .then((response) => {
              let objectJSON = {};
              objectJSON = JSON.parse(response.request.responseText);
              this.editedItem.img = objectJSON.id;
              this.apiSave();
            })
            .catch((e) => {
              console.log(e);
            });
        } else {
          this.apiSave();
        }
      } else {
        this.showErrorMessage = true;
      }
    },
    apiSave() {
      delete this.editedItem.devs_group;
      delete this.editedItem.numberAd;
      delete this.editedItem.end_timeFormat;
      if (this.editedIndex === -1) {
        axiosApi
          .post("admin/ads", this.editedItem)
          .then((response) => {
            console.log("response  save= ");
            console.log(response.request.response);
            this.initialize();
          })
          .catch((error) => {
            console.log(error);
            // this.errored = true;
          });
      } else {
        axiosApi
          .put("admin/ads/" + this.editedIndex, this.editedItem)
          .then((response) => {
            console.log("response  put= ");
            console.log(response.request.response);
            this.initialize();
          })
          .catch((error) => {
            console.log(error);
            // this.errored = true;
          });
      }
      this.close();
    }, //apiSave
  },
};
</script>
