<template>
  <div>
    <ToolBarAdmin/>
    <v-card>
      <v-card-title>
        <div>
          <span class="headline">Группы устройств</span>
          <!-- <breadCrumbs /> -->
        </div>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Поиск"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="listGroup"
        sort-by="numberGroup"
        class="elevation-1"
        :search="search"
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Новая запись
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6">
                        <v-select
                          v-model="editedItem.device_ids"
                          :items="listDevice"
                          item-text="description"
                          item-value="id"
                          :menu-props="{ maxHeight: '400' }"
                          label="Выберите устройства"
                          multiple
                          persistent-hint
                        ></v-select>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <!--                      hint="Выберите устройства" md="4" -->
                        <v-text-field
                          v-model="editedItem.description"
                          label="Описание"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>

                  <v-btn color="primary" dark @click="save">
                    <!-- color="blue darken-1"
                text -->
                    Ок
                  </v-btn>
                  <v-btn color="primary" dark @click="close"> Отмена </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="550px">
              <v-card>
                <v-card-title class="headline"
                  >Вы действительно хотите удалить запись?</v-card-title
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" dark @click="deleteItemConfirm"
                    >OK</v-btn
                  >
                  <v-btn color="primary" dark @click="closeDelete"
                    >Отмена</v-btn
                  >

                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
            small
            class="mr-2"
            color="primary"
            @click="editItemFunc(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon small color="red" @click="deleteItem(item)">
            mdi-delete
          </v-icon>
        </template>
        <template v-slot:no-data>
          <v-alert type="error"> Нет данных для отображения </v-alert>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import axiosApi from "../../api.js";
import ToolBarAdmin from "./ToolBarAdmin.vue";
export default {
  components: { ToolBarAdmin },
  data: () => ({
    search: "",
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "No",
        value: "numberGroup",
      },
      {
        text: "Перечень устройств",
        value: "devs_name",
      },
      {
        text: "Описание",
        value: "description",
      },
      {
        text: "",
        value: "actions",
        sortable: false,
      },
    ],
    listGroup: [],
    listDevice: [],
    editedIndex: -1,
    editedItem: {
      description: "",
    },
    defaultItem: {
      id: 0,
      description: "",
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Создание новой записи"
        : "Редактирование записи";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      axiosApi
        .get("admin/devs")
        .then((response) => {
          var objectJSON = {};
          objectJSON = JSON.parse(response.request.responseText);
          this.listDevice = objectJSON.data;
          axiosApi
            .get("admin/devs_groups")
            .then((response) => {
              var objectJSON = {};
              objectJSON = JSON.parse(response.request.responseText);
              this.listGroup = objectJSON.data.map((item) => {
                var result = item;
                result.devs_name = this.listDevice
                  .filter((device) => {
                    return item.device_ids.includes(device.id);
                  })
                  .map((device) => {
                    return " " + device.description;
                  });
                return result;
              });
              this.createNumberGroup();
            })
            .catch((error) => {
              console.log(error);
              // this.errored = true;
            });
        })
        .catch((error) => {
          console.log(error);
          // this.errored = true;
        });
    },
    createNumberGroup() {
      this.listGroup.forEach(function (item, index) {
        item.numberGroup = index + 1;
      });
    },
    editItemFunc(item) {
      // this.editedIndex = this.desserts.indexOf(item)
      // this.editedItem = Object.assign({}, item);
      this.editedIndex = item.id;
      // this.editedItem = item;
      this.editedItem = Object.assign({}, item);
      delete this.editedItem.devs_name;
      delete this.editedItem.numberGroup;
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = item.id;
      // this.editedItem = Object.assign({}, item)
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      axiosApi
        .delete("admin/devs_groups/" + this.editedIndex)
        .then((response) => {
          console.log("response  delete= ");
          console.log(response.request.response);
          this.initialize();
        })
        .catch((error) => {
          console.log(error);
          // this.errored = true;
        });

      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      delete this.editedItem.numberGroup;
      if (this.editedIndex === -1) {
        axiosApi
          .post("admin/devs_groups", this.editedItem)
          .then((response) => {
            console.log("response  save= ");
            console.log(response.request.response);
            this.initialize();
          })
          .catch((error) => {
            console.log(error);
            // this.errored = true;
          });
      } else {
        axiosApi
          .put("admin/devs_groups/" + this.editedIndex, this.editedItem)
          .then((response) => {
            console.log("response  put= ");
            console.log(response.request.response);
            this.initialize();
          })
          .catch((error) => {
            console.log(error);
            // this.errored = true;
          });
      }
      this.close();
    },
  },
};
</script>
