<template>
  <div>
    <ToolBarAdmin />
    <v-card>
      <v-card-title>
        <div>
          <span class="headline">Устройства</span>
        </div>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Поиск"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="listDevice"
        sort-by="numberDevice"
        class="elevation-1"
        :search="search"
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Новая запись
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12">
                        <!-- md="4" -->
                        <v-text-field
                          v-model="editedItem.request_code"
                          label="Код устройства"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="12" sm="12">
                        <!-- md="4" -->
                        <v-text-field
                          v-model="editedItem.description"
                          label="Описание устройства"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>

                  <v-btn color="primary" dark @click="save"> Ок </v-btn>
                  <v-btn color="primary" dark @click="close"> Отмена </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="550px">
              <v-card>
                <v-card-title class="headline"
                  >Вы действительно хотите удалить запись?</v-card-title
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" dark @click="deleteItemConfirm"
                    >OK</v-btn
                  >
                  <v-btn color="primary" dark @click="closeDelete"
                    >Отмена</v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>

        <template v-slot:item.lastConnectionString="{ item }">
          <div :style="item.connectionError">
            {{ item.lastConnectionString }}
          </div>
        </template>
        <template v-slot:item.actionsAds="{ item }">
          <v-btn icon :href="'/#/' + item.request_code" target="_blank">
            <v-icon small color="primary"> mdi-play </v-icon>
            <!-- color="green" class="mr-2" -->
          </v-btn>
        </template>

        <template v-slot:item.actions="{ item }">
          <v-icon
            small
            class="mr-2"
            color="primary"
            @click="editItemFunc(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            class="mr-2"
            color="red"
            hint="Удалить"
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
        </template>
        <template v-slot:no-data>
          <v-alert type="error"> Нет данных для отображения </v-alert>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import axiosApi from "../../api.js";
import ToolBarAdmin from "./ToolBarAdmin.vue";
export default {
  components: { ToolBarAdmin},
  data: () => ({
    search: "",
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "#",
        value: "numberDevice",
      },
      {
        text: "Код запроса",
        value: "request_code",
      },
      {
        text: "Описание",
        value: "description",
      },
      {
        text: "Последнее соединение",
        value: "lastConnectionString",
      },
      {
        text: "Просмотр объявлений",
        value: "actionsAds",
        sortable: false,
      },
      {
        text: "Управление",
        value: "actions",
        sortable: false,
      },
    ],
    listDevice: [],
    editedIndex: -1,
    editedItem: {
      id: 0,
      request_code: "",
      description: "",
      last_connection: new Date(),
    },
    defaultItem: {
      id: 0,
      request_code: "",
      description: "",
      last_connection: new Date(),
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Создание новой записи"
        : "Редактирование записи";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.apiGet();
      setInterval(this.apiGet, 60000);
    },
    apiGet() {
      axiosApi
        .get("admin/devs")
        .then((response) => {
          var objectJSON = {};
          objectJSON = JSON.parse(response.request.responseText);
          this.listDevice = objectJSON.data.map((item) => {
            let temp = new Date(item.last_connection);

            if (new Date() - temp > 300000) {
              item.connectionError = "color:red";
            } else {
              item.connectionError = "color:black";
            }
            item.lastConnectionString = temp.toLocaleString();
            return item;
          });
          this.createNumberDevice();
        })
        .catch((error) => {
          console.log(error);
          // this.errored = true;
        });
    },
    createNumberDevice() {
      this.listDevice.forEach(function (item, index) {
        item.numberDevice = index + 1;
      });
    },
    editItemFunc(item) {
      // this.editedIndex = this.desserts.indexOf(item)
      // this.editedItem = Object.assign({}, item);
      this.editedIndex = item.id;
      // this.editedItem = item;
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = item.id;
      // this.editedItem = Object.assign({}, item)
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      axiosApi
        .delete("admin/devs/" + this.editedIndex)
        .then((response) => {
          console.log("response  delete= ");
          console.log(response.request.response);
          this.initialize();
        })
        .catch((error) => {
          console.log(error);
          // this.errored = true;
        });

      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      delete this.editedItem.numberDevice;
      delete this.editedItem.lastConnectionString;
      delete this.editedItem.connectionError;
      //  console.log("this.editedItem save= ");
      //  console.log(this.editedItem);
      if (this.editedIndex === -1) {
        axiosApi
          .post("admin/devs", this.editedItem)
          .then((response) => {
            console.log("response  save= ");
            console.log(response.request.response);
            this.initialize();
          })
          .catch((error) => {
            console.log(error);
            // this.errored = true;
          });
      } else {
        axiosApi
          .put("admin/devs/" + this.editedIndex, this.editedItem)
          .then((response) => {
            console.log("response  put= ");
            console.log(response.request.response);
            this.initialize();
          })
          .catch((error) => {
            console.log(error);
            // this.errored = true;
          });
      }
      this.close();
    },
  },
};
</script>
