<template>
  <!-- <v-container> -->
  <div>
    <v-toolbar class="rounded-b-lg blue-grey lighten-5" style="height: 84px"
      ><!--width="1848"-->
      <v-toolbar-title
        style="
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 25px;
          line-height: 44px;
          text-align: center;
          color: #3271eb;
        "
        >{{ titleText }}
      </v-toolbar-title>
      <v-spacer></v-spacer><!--      width="300"-->
      <v-btn
        class="ma-2"
  
        style="
          color: #3271eb;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
        "
        @click="showDialogBackGround = true"
      >
        Изменение фона
      </v-btn>
      <v-btn
        class="ma-2"
        style="
          color: #3271eb;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
        "
        :href="'/#/admin/listads'"
      >
        Управление объявлениями
      </v-btn>
      <v-btn
        class="ma-2"
        style="
          color: #3271eb;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
        "
        :href="'/#/admin/listdevice'"
      >
        Управление Устройствами
      </v-btn>
      <v-btn
        class="ma-2"
        style="
          color: #3271eb;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
        "
        :href="'/#/admin/listgroup'"
      >
        Управление группами
      </v-btn>
    </v-toolbar>
    <DialogChangeBackGround
      :showDialogBackGround="showDialogBackGround"
      v-on:closeDialogChangeBackGround="closeDialogChangeBackGround"
    />
  </div>
</template>
<script>
import DialogChangeBackGround from "./DialogChangeBackGround.vue";
export default {
  components: {
    DialogChangeBackGround,
  },
  data: () => ({
    showDialogBackGround: false,
  }),
  computed: {
    titleText() {
      return this.$config.titleText;
    },
  },
  methods: {
    closeDialogChangeBackGround() {
      this.showDialogBackGround = false;
    },
  },
};
</script>
