<template>
  <!-- <v-container> -->
  <div>
    <v-toolbar class="rounded-b-lg" style="height: 84px"
      ><!--width="1848"-->
      <v-toolbar-title :style="titleMain">{{ titleText }}</v-toolbar-title>
      <v-spacer></v-spacer>

      <img
        :src="imgWeather"
        style="position: absolute; left: 1270px; top: 13%"
      />
      <div :style="titleMain">
        <div :style="titleMainTemprature" v-if="temprature">
           {{ temprature }}&deg;C
        </div>
        <div>{{ timeNow }} {{ dayNow }} | {{ dateNow }}</div>
      </div>
      <!-- </v-app- bar> -->
    </v-toolbar>
  </div>
</template>

<script>
export default {
  props: ["temprature", "imgWeather"],
  data: () => ({
    titleMain: {
      "font-family": "Montserrat",
      "font-style": "normal",
      "font-weight": "600",
      "font-size": "32px",
      // "font-size": "36px",
      /* identical to box height */
      padding: "10px 0px 0px",
      "text-align": "center",
      color: "#3271EB",
    },

    titleMainTemprature: {
      position: "absolute",
      left: "1342px",
    },
    time: new Date(),
  }),

  created() {
    this.initialize();
  },
  computed: {
    timeNow() {
      return this.time.toLocaleTimeString("ru");
    },
    dateNow() {
      return this.time.toLocaleString("ru", {
        month: "long",
        day: "numeric",
      });
    },
    dayNow() {
      return this.time.toLocaleString("ru", {
        weekday: "short",
      });
    },
    titleText() {
      return this.$config.titleText;
    },
  },
  methods: {
    initialize() {
      this.idDevice = this.$route.params.idDevice;
      setInterval(() => {
        this.time = new Date();
      }, 1000);
    },
  },
};
</script>
