<template>
  <v-card
    :width="sizes.width"
    :height="sizes.height"
    class="rounded-lg mb-3 mt-4 ml-5"
    tile
    flat
  >
    <div v-if="img">
      <v-img
        :width="sizes.width"
        :height="sizes.height"
        :lazy-src="imgAdress"
        :src="imgAdress"
        contain
      ></v-img>
    </div>
    <div v-else>
      <br />
      <p :style="titleCardCritical">{{ title }}</p>
      <br />
      <!-- <pre :style="cardTextCritical" >{{text}}</pre> -->
      <p :style="cardTextCritical"><span v-html="text"></span></p>
      <!--:style="cardTextCritical"   -->
      <v-card-actions>
        <div :style="cardActions">{{ dateCreate }}</div>
      </v-card-actions>
    </div>
  </v-card>
</template>
<script>
import axiosApi from "../../api.js";
export default {
  props: ["title", "text", "createTime", "sizeName", "img"],
  data: () => ({
    titleCardCritical: {
      "font-family": "Montserrat",
      "font-style": "normal",
      "font-weight": "bold",
      "font-size": "36px",
      // "font-size": "36px",
      "line-height": "48px",
      /* identical to box height, or 133% */
      "text-align": "center",
      "text-transform": "uppercase",
      color: "#FF3880",
      // "white-space": "pre"
      "word-wrap": "break-word",

      flex: "none",
      order: "0",
      "align-self": "center",
      "flex-grow": "0",
      margin: "0px 24px",

      position: "static",
      left: "0%",
      right: "0%",
      top: " 0%",
      bottom: " 83.33%",
    },
    cardTextCritical: {
      "font-family": "Montserrat",
      position: "static",
      left: "0%",
      right: "0%",
      top: "25%",
      bottom: "0%",

      "font-style": "normal",
      "font-weight": "500",
      "font-size": "24px",
      "line-height": "29px",
      "text-align": "center",

      color: "#05183F",

      /* Inside Auto Layout */

      flex: "none",
      order: "1",
      "align-self": "center",
      "flex-grow": "0",
      margin: "0px 20px",
    },
    sizesObj: {
      Small: { width: "656px", height: "447px" },
      Medium: { width: "656px", height: "910px" },
      Large: { width: "1342px", height: "910px" },
    },
    topCardAction: {
      Small: "390px",
      Medium: "850px",
      Large: "850px",
    },
    leftCardAction: {
      Small: "440px",
      Medium: "440px",
      Large: "1140px",
    },
  }),
  computed: {
    dateCreate() {
      let date = new Date(this.createTime);
      return date.toLocaleString("ru", {
        day: "numeric",
        month: "numeric",
        year: "numeric",
      });
    },
    imgAdress() {
      return axiosApi.defaults.baseURL + "content/blobs/" + this.img;
    },
    sizes() {
      return this.sizesObj[this.sizeName];
    },
    cardActions() {
      let object = {
        // "font-family": "Montserrat",
        "font-style": "normal",
        // "font-weight": "550",
        "font-weight": "600", //насыщенность шрифта
        "font-size": "24px",
        "line-height": "24px", // величина между строрками в тексте
        /* identical to box height, or 100% */

        "text-align": "right",
        "text-transform": "uppercase",

        color: "#3271EB",

        position: "absolute",
        width: "184px",
        height: "24px",
        // left: "leftSize",
        // top: "topSize",
      };
      object.left = this.leftCardAction[this.sizeName];
      object.top = this.topCardAction[this.sizeName];
      return object;
    },
  },
};
</script>
