<template>
    <v-card height="284px" width="420px" class="rounded-lg mb-7 mt-4">
      <br />
      <p :style="titleCard">{{ title }}</p>
      <br />
      <!-- <p :style="textCard"><span v-html="text"></span> -->
        <!-- {{ text }} -->
      <!-- </p>  -->
      <p :style="textCard"><span v-html="text"></span></p>
    </v-card>
</template>
<script>
export default {
  props: ["title", "text"],
  data: () => ({
    titleCard: {
      "font-family": "Montserrat",
      "font-style": "normal",
      "font-weight": "bold",
      "font-size": "18px",
      "line-height": "24px",
      /* identical to box height, or 133% */

      "text-align": "center",
      "text-transform": "uppercase",

      color: "#3271EB",

      /* Inside Auto Layout */

      flex: "none",
      order: "0",
      "align-self": "center",
      "flex-grow": "0",
      margin: " 0px 16px",
    },
    textCard: {
      "font-family": "Montserrat",
      "font-style": "normal",
      "font-weight": "500",
      "font-size": "16px",
      "line-height": "20px",
      "text-align": "center",

      color: "#05183F",

      /* Inside Auto Layout */

      flex: "none",
      order: "1",
      "align-self": "center",
      "flex-grow": "0",
      margin: "0px 16px",
    },
    //
  }),
};
</script>
