<template>
  <div style="width: 1920px">
    <v-card max-width="1920px" max-height="1080px">
      <v-img src="../assets/backgroundAds.svg">
        <!--class="font-family: Montserrat"-->
        <v-container fluid style="width: 1855px; padding: 0px 20px 20px">
          <ToolBarMain />
          <v-card
            style="
              font-family: Montserrat;
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 44px;

              
              margin: 150px 00px;
              opacity: 0.7;
            "
          >
            <!--color: #05183F; text-align: justify; -->
            <!-- text-align: center; -->
            <br />
            <p align="center" style="font-size: 25px">Здравствуйте!</p>

            <p align="justify" style="margin: 10px 20px">
              Это главная страница электронных объявлений Москва, ТСЖ
              “ПРОТОПОПОВСКИЙ 17”. Для просмотра объявлений конкретного
              устройства, необходимо ввести его наименосвание в адресной строке. Для работы с объявлениями,
              устройствами и группами имеется доступ к странице управления.
            </p>
            <br />
          </v-card>
        </v-container>
      </v-img>
    </v-card>
  </div>
</template>
<script>
import ToolBarMain from "./adminComponents/ToolBarMain.vue";
export default {
  components: {
    ToolBarMain,
  },
  data: () => ({}),
};
</script>