<template>
  <!--class = "overflow-y: hidden"-->
  <div style="width: 1920px">
    <!-- <v-main> -->

    <v-card max-width="1920px" max-height="1080px"
      ><!--class="font-family: Montserrat"-->
      <!-- <v-img src="../assets/backgroundAds.svg"> -->
      <v-img :src="backgroundAds">
        <v-container
          fluid
          style="width: 1860px; padding: 0px 20px 20px"
          grid-list-sm
        >
          <ToolBarMain :temprature="temprature" :imgWeather="imgWeather" />
          <v-row v-if="!errored">
            <v-col cols="3">
              <transition-group name="fade" mode="out-in">
                <TemplateAds
                  v-for="(list, index) in listAds"
                  v-bind:key="list.id"
                  v-bind:title="list.title"
                  v-bind:text="list.text"
                  v-bind:index="index"
                />
              </transition-group>
            </v-col>
            <v-col cols="9">
              <v-layout row v-if="separation">
                <v-flex d-flex flex-wrap xs6>
                  <transition-group name="fadeCritical" mode="out-in">
                    <TemplateAdsCritical
                      v-for="(
                        listCriticalLeft, indexCritical
                      ) in listAdsCriticalLeft"
                      v-bind:key="listCriticalLeft.id"
                      v-bind:title="listCriticalLeft.title"
                      v-bind:text="listCriticalLeft.text"
                      :img="listCriticalLeft.img"
                      :sizeName="listCriticalLeft.size"
                      v-bind:createTime="listCriticalLeft.create_time"
                      v-bind:index="indexCritical"
                    />
                  </transition-group>
                </v-flex>
                <v-flex d-flex xs6 flex-wrap>
                  <transition-group name="fadeCritical" mode="out-in">
                    <TemplateAdsCritical
                      v-for="(
                        listCriticalRight, indexCritical
                      ) in listAdsCriticalRight"
                      v-bind:key="listCriticalRight.id"
                      v-bind:title="listCriticalRight.title"
                      v-bind:text="listCriticalRight.text"
                      :img="listCriticalRight.img"
                      :sizeName="listCriticalRight.size"
                      v-bind:createTime="listCriticalRight.create_time"
                      v-bind:index="indexCritical"
                    />
                  </transition-group>
                </v-flex>
              </v-layout>
              <v-layout row v-if="!separation">
                <v-flex d-flex flex-wrap xs12>
                  <transition-group name="fadeCritical" mode="out-in">
                    <TemplateAdsCritical
                      v-for="(listCritical, indexCritical) in listAdsCritical"
                      v-bind:key="listCritical.id"
                      v-bind:title="listCritical.title"
                      v-bind:text="listCritical.text"
                      :img="listCritical.img"
                      :sizeName="listCritical.size"
                      v-bind:createTime="listCritical.create_time"
                      v-bind:index="indexCritical"
                    />
                  </transition-group>
                </v-flex>
              </v-layout>
            </v-col>
            <div :style="line"></div>
          </v-row>
          <v-row v-else>
            <v-card
              style="
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 44px;

                margin: 150px 700px;
                opacity: 0.7;
              "
            >
              <br />

              <p align="center" style="font-size: 25px">Ошибка!</p>

              <p align="justify" style="margin: 10px 20px">
                {{ listError }}
              </p>
              <br />
            </v-card>
          </v-row>
          <div
            style="
              position: fixed;
              top: 1050px;
              font-family: Montserrat;
              color: #fff;
              font-size: 14px;
            "
          >
            {{ mainPageFooterText }}
          </div>
        </v-container>
        <!-- <div :style="line"></div> -->
      </v-img>
    </v-card>

    <!-- </v-main> -->
  </div>
</template>

<script>
import TemplateAds from "./templateAds/TemplateAds.vue";
import TemplateAdsCritical from "./templateAds/templateAdsCritical.vue";
import ToolBarMain from "./adminComponents/ToolBarMain.vue";
import axiosApi from "../api.js";
var _ = require("lodash");
export default {
  components: {
    TemplateAds,
    TemplateAdsCritical,
    ToolBarMain,
  },
  data: () => ({
    titleMain: {
      "font-family": "Montserrat",
      "font-style": "normal",
      "font-weight": "600",
      "font-size": "32px",
      "line-height": "84px",
      /* identical to box height */
      padding: "0px",
      "text-align": "center",

      color: "#3271EB",
    },
    line: {
      position: "absolute",
      width: "924px",
      height: "8px",
      left: "35px",
      top: "568px",

      /* Primary / White */

      background: "#FFFFFF",
      transform: "rotate(90deg)",
    },
    listAds: [],
    listAdsCritical: [],
    listAdsCriticalRight: [],
    listAdsCriticalLeft: [],
    allListAds: [],
    allListAdsCritical: [],
    allListAdsNotCritical: [],
    idDevice: 0,
    errored: false,
    listError: "",
    i: 0,
    j: 0,
    separation: false,
    amauntOfAdsCritical: null,
    initializeVar: false,
    temprature: String,
    backgroundAds: null,
    backgroundAdsAdress: null,
    backgroundAdsDateCreate: new Date(),
    backgroundDateCreate: Date,
    imgWeather: null,
    weatherNameImg: null,
  }),
  mounted: function () {
    /// NOT SCROLL
    let elHtml = document.getElementsByTagName("html")[0];
    elHtml.style.overflowY = "hidden";
  },
  destroyed: function () {
    let elHtml = document.getElementsByTagName("html")[0];
    elHtml.style.overflowY = null;
  },
  created() {
    this.initialize();
  },
  computed: {
    timeForAds() {
      return this.$config.timeForAdsInSec;
    },
    mainPageFooterText() {
      return this.$config.mainPageFooterText;
    },
  },
  methods: {
    initialize() {
      this.idDevice = this.$route.params.idDevice;
      this.apiGet();
      this.initializeVar = true;
      setInterval(() => {
        if (this.allListAdsNotCritical.length > 3) {
          this.listAds = [];
        }
        if (this.amauntOfAdsCritical > 4) {
          this.listAdsCritical = [];
          this.listAdsCriticalLeft = [];
          this.listAdsCriticalRight = [];
        }
        setTimeout(() => {
          this.createListAdsCritical();
          this.createListAds();
        }, 2500);
      }, this.timeForAds * 1000);

      setInterval(this.apiGet, 60000);
    },
    apiGet() {
      axiosApi
        .get("/board/ads/" + this.idDevice)
        .then((response) => {
          let objectJSON = {};
          this.errored = false;
          objectJSON = JSON.parse(response.request.responseText);
          if (!this.arraysAreEqual(objectJSON.data, this.allListAds)) {
            this.listAdsCriticalRight = [];
            this.listAdsCriticalLeft = [];
            this.listAdsCritical = [];
            this.listAds = [];
            this.allListAds = objectJSON.data;
            this.allListAdsNotCritical = objectJSON.data.filter((item) => {
              return item.critical === false;
            });
            this.allListAdsCritical = objectJSON.data.filter((item) => {
              return item.critical === true;
            });
            if (this.allListAdsCritical.length > 0) {
              this.allListAdsCritical = _.sortBy(
                this.allListAdsCritical,
                "size"
              );
              let temp = _.groupBy(this.allListAdsCritical, "size");
              this.amauntOfAdsCritical =
                (temp.Large != undefined ? temp.Large.length * 4 : 0) +
                (temp.Medium != undefined ? temp.Medium.length * 2 : 0) +
                (temp.Small != undefined ? temp.Small.length : 0);
              this.i = 0;
              this.j = 0;
            }
          }
          if (this.initializeVar === true) {
            this.createListAds();
            this.createListAdsCritical();
            this.initializeVar = false;
          }
        })
        .catch((error) => {
          this.errored = true;
          this.listError = error;
        });
      axiosApi
        .get("/weather/cache")
        .then((response) => {
          let objectJSONWheather = {};
          this.errored = false;
          objectJSONWheather = JSON.parse(response.request.responseText);
          if (objectJSONWheather.weather.fact.temp > 0) {
            this.temprature =
              "+" + objectJSONWheather.weather.fact.temp.toString();
          } else {
            this.temprature = objectJSONWheather.weather.fact.temp.toString();
          }
          if (
            objectJSONWheather.weather.fact.condition === "cloudy" ||
            objectJSONWheather.weather.fact.condition === "clear" ||
            objectJSONWheather.weather.fact.condition === "partly-cloudy"
          ) {
            objectJSONWheather.weather.fact.condition =
              objectJSONWheather.weather.fact.condition +
              "-" +
              objectJSONWheather.weather.fact.daytime;
          }

          this.weatherNameImg = objectJSONWheather.weather.fact.condition;
          this.imgWeather = require(`../assets/weather/${this.weatherNameImg}.png`);
        })
        .catch((error) => {
          this.temprature = "";
          this.imgWeather = "";
          console.log("error from weather");
          console.log(error);
        });
      axiosApi
        .get("/content/blobs/background/info")
        .then((response) => {
          if (response.request.status === 200) {
            let objectJSONBackgroundDateCreate = JSON.parse(
              response.request.responseText
            );
            this.backgroundDateCreate = new Date(
              objectJSONBackgroundDateCreate.expire_time
            );
            if (
              this.backgroundDateCreate.getTime() !=
              this.backgroundAdsDateCreate.getTime()
            ) {
              this.backgroundAdsDateCreate = this.backgroundDateCreate;
              this.backgroundAdsAdress =
                axiosApi.defaults.baseURL +
                "content/blobs/background?t=" +
                Date.now();
            }
          } else {
            this.backgroundAdsAdress = require(`../assets/backgroundAds.svg`);
          }
          this.backgroundAds = this.backgroundAdsAdress;
        })
        .catch((error) => {
          this.errored = true;
          this.listError = error;
          // this.backgroundAds = require(`../assets/backgroundAds.svg`);
        });
    },
    arraysAreEqual(a, b) {
      if (a.length != b.length) {
        return false;
      }
      return _.isEqual(_.sortBy(a), _.sortBy(b));
    },
    createListAdsCritical() {
      if (this.allListAdsCritical.length > 0) {
        if (this.allListAdsCritical[this.i].size === "Large") {
          this.separation = false;
          this.listAdsCritical = this.allListAdsCritical.slice(
            this.i,
            this.i + 1
          );
        } else {
          this.separation = true;
          if (this.allListAdsCritical[this.i].size === "Medium") {
            //ЗАПОЛНЯЕМ ЛЕВУЮ ПОЛОВИНУ
            this.listAdsCriticalLeft = this.allListAdsCritical.slice(
              this.i,
              this.i + 1
            );
            if (this.allListAdsCritical[this.i + 1] != undefined) {
              if (this.allListAdsCritical[this.i + 1].size === "Medium") {
                // ЗАПОЛНЯЕМ ПРАВУЮ ПОЛОВИНУ
                this.i = this.i + 1;
                this.listAdsCriticalRight = this.allListAdsCritical.slice(
                  this.i,
                  this.i + 1
                );
              } else if (this.allListAdsCritical[this.i + 1].size === "Small") {
                this.i = this.i + 1;
                this.listAdsCriticalRight = this.allListAdsCritical.slice(
                  this.i,
                  this.i + 2
                );
                this.i = this.i + 1;
              }
            }
          } else {
            this.listAdsCriticalLeft = this.allListAdsCritical.slice(
              this.i,
              this.i + 2
            );
            this.listAdsCriticalRight = this.allListAdsCritical.slice(
              this.i + 2,
              this.i + 4
            );
            this.i = this.i + 3;
          }
        }
        if (this.i + 1 <= this.allListAdsCritical.length - 1) {
          this.i = this.i + 1;
        } else {
          this.i = 0;
        }
      }
    },
    createListAds() {
      if (this.allListAdsNotCritical.length > 0) {
        this.listAds = this.allListAdsNotCritical.slice(
          this.j * 3,
          this.j * 3 + 3
        );
        if (this.j * 3 + 3 <= this.allListAdsNotCritical.length - 1) {
          this.j += 1;
        } else {
          this.j = 0;
        }
      }
    },
  },
};
</script>
<style>
.fade-enter-active,
.fade-leave-active {
  /* transition: opacity 2s; */
  transition: opacity 2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fadeCritical-item {
  display: inline flex;
}
.fadeCritical-enter-active,
.fadeCritical-leave-active {
  /* transition: opacity 2s; */
  transition: opacity 2s;
}
.fadeCritical-enter,
.fadeCritical-leave-to {
  opacity: 0;
}
</style>
