<template>
  <div>
    <ToolBarAdmin />
  </div>
</template>
<script>
import ToolBarAdmin from "./adminComponents/ToolBarAdmin.vue";
export default {
  components: {
    ToolBarAdmin,
  },
  data: () => ({

  }),
};
</script>