<template>
<v-app id="inspire">
    <!-- <v-app-bar app dense> -->
    <!-- dark color="primary" -->
    <!-- <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
        text
      >
        <span class="mr-2">Latest Release</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>-->
    <!-- <div>{{  currentTime }}</div> -->
    <!-- <div v-for="meta in order.meta " :key="meta">

    {{ getHumanDate(meta.value.date) }}

  </div> -->
    <!-- </v-app-bar> -->

    <!-- <v-content> -->
    <router-view> </router-view>
    <!-- <MainAds/> -->
    <!--  </v-content> -->
</v-app>
</template>

<script>
// import MainAds from './components/MainAds.vue';
// import moment from 'moment';
//  import moment from 'moment'; 
export default {
    name: "App",

    // components: {
    //   MainAds,
    // },

    data: () => ({
        someDate: "",
        //
        // CurrentDateTime: "",
    }),
    //  computed:{
    //    currentTime(){
    //     return this.moment("dddd, MMMM Do YYYY");
    //   }
    // methods:{
    //   getHumanDate(date){
    //        return moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY');
    //   }
    // }
    // }

};
</script>
<style>
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
   url(./assets/fonts/Montserrat/Montserrat-Normal.ttf) format("truetype");
}
/* @font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
   url(./assets/fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
} */
</style>
